html, body {
	margin:0px;
	padding:0px;
	overflow-right:hidden;
	overflow-left:hidden;
	height:100%;
	background-color:black;

	/*Android fixes*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''
}

* {
	box-sizing: border-box;
}

/*
BROWSER
*/

#main {
	height:100%;
	min-height:100%;
	width:100%;
	border-radius: 5%;
}

.menu {
	width:98%;
	min-height:98%;
	background-color:rgb(150, 200, 150);
	margin:1%;
}

.menu .title {
	box-sizing: border-box;
	width:100%;
	padding:10%;
	/*height:100px;*/
	background-color:rgb(200, 220, 200);
	margin-bottom:10px;
	box-shadow:0px 0px 10px black;
}

.menu .title .images {

	position:absolute;
	top:0px;
	left:0px;
	margin:2%;
	width:60%;
	/*float:left;*/
	font-size:15pt;
}


.menu .title .images .main_logo{
	width:30%;
}


.menu .title .images .secondary_logo{
	width:100%;
}

.menu .title .images .secondary {
	float:right;
	width:50%;
}

.menu .title .camera_tag {
	/*float:right;*/
	position:absolute;
	width:10%;
	padding:10%;
	top:0px;
	right:0px;
	background-color:rgb(260, 200, 200);
	box-shadow: 0px 0px 10px black;
	border-radius:100%;
	margin:2%;
}

.menu_item {
	width:100%;
	padding:1%;
	padding-bottom:15%;
	margin:2px;
	background-color:gray;
	box-shadow: 0px 0px 10px black;
}

.menu_item .unlocked_tag {
	float:left;
	left:0px;
	top:0px;
	width:7%;
	padding:7%;
	border-radius:100%;
	background-color:black;
}

.menu_item .title_tag {
	float:left;
}

.item_locked {
	background-color:gray;
}

.item_partial {
	background-color:yellow;
}

.item_unlocked {
	background-color:green;
}


/*
VIEWER
*/

#viewer_template {
	height:100%;
}

.viewer_tag {
	width:100%;
	min-height:90%;
	overflow-left:hidden;
	overflow-right:hidden;
	background-color:rgb(220, 220, 250);
}

.navigation {
	width:100%;
	padding:10%;
	background-color:rgb(150, 230, 150);
}

.navigation .back_tag {
	float:right;
	background-color:red;
	width: 20%;
}



iframe {
	border:none;
	width:100%;
	margin:0px;
	padding:0px;
}